@font-face {
    font-family: 'Monda';
    src: url('../fonts/Monda.ttf');
    font-weight: 400;
}

html,body,div,span,
object,iframe,h1,h2,h3,h4,
h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,
cite,code,del,dfn,em,img,
ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,
ol,ul,li,fieldset,form,
label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details
,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
}

p {
	text-align: center;
	font: 1em 'Monda', sans-serif;
}

body {
	font: 1em 'Monda', sans-serif;
}

div {
	display: block;
}
/*Page wrapping content*/
#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*Header*/
header {
	z-index: 950;
	color: #000000;
	position: fixed;
	min-height: 100px;
	height: 100px;
	background: #FFFFFF;
	width: 100%;
	-webkit-box-shadow: 0 7px 18px rgba(0,0,0,0.2);
	box-shadow: 0 7px 18px rgba(0,0,0,0.2);
}

header #logo {
	margin-left: 17.5%;
	margin-right: 65%;
	vertical-align: middle;
}

header #logo img {
	float: left;
	margin-top: 2.5%;
}

header #logo h1 {
	position: relative;
	font-size: 0.95em;
	top: 30px;
	left: 15px;
}
/*Menu within header*/
#menu {
	position: relative;
	top: 40px;
	font-size: 1.2em;
	margin-right: 15%;
	text-align: right;
}
.menu {
	display: inline;
	padding: 0 10px 0;
}

.menu a {
	-webkit-transition: color 0.35s ease-out;
	-moz-transition: color 0.35s ease-out;
	transition: color 0.35s ease-out;
	color: #000;
	text-decoration: none;
}

.menu a:hover {
	color: #009BCD;
}

.menu a:active {
	color: #0086B2;
}
/*Multiple classes for each section's content*/
.contact {
	position: relative;
	top: 20%;
	color: #FFFFFF;
	height: 500px;
}

.all {
	background: #FFFFFF;
	background: -webkit-linear-gradient(#e0e0e0 0%, #ffffff 12.5%, #ffffff 87.5%, #e0e0e0 100%);
	background: linear-gradient( to bottom, rgba(225,225,225,0.75), #ffffff 12.5%, #ffffff 87.5%, rgba(225,225,225,0.75));
}

input, textarea {	
	-webkit-transition: color 0.3s, box-shadow 0.3s;
	-moz-transition: color 0.3s, box-shadow 0.3s;
	transition: color 0.3s, box-shadow 0.3s;border: none;
	-moz-box-shadow: 0 0 0 rgba(204,204,204,0.74);
	-webkit-box-shadow: 0 0 0 rgba(204,204,204,0.74);
	box-shadow: 0 0 0 rgba(204,204,204,0.74);
	border-radius: 7.5px;
	text-align: left;
	color: #000000;
	vertical-align: middle;
	outline: none;
}
input[type="text"] {
	padding: 10px;
	font-size: 1.2em;
	-webkit-box-shadow: 0 7px 18px rgba(0,0,0,0.4) inset;
	box-shadow: 0 7px 18px rgba(0,0,0,0.4) inset;
}

textarea {
	height: auto;
	padding: 10px;
	font-size: 1.2em;
	-webkit-box-shadow: 0 7px 18px rgba(0,0,0,0.4) inset;
	box-shadow: 5px 7px 18px rgba(0,0,0,0.4) inset;
}
input:focus, textarea:focus {
	-webkit-box-shadow: 0 10px 20px rgba(90,200,70,0.5) inset;
	box-shadow: 5px 10px 20px rgba(31,74,69,0.5) inset;
}

/*Stock Css for each section*/
.all {
	clear: both;
	height: 100%;
	font-size: 1.75em;
}
.gradient {
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.gradient-container {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 500px;
	overflow: hidden;
}

/* "one" "two" and "three" are for each gradient chronological */

#gradient-one {
	font-size: 21px;
	height: 700px;
	margin-top: 100px;
	background: url('../images/back-3.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

/* The styleing for gradient (drop shadow) */
.styles {
	-webkit-box-shadow: 0 -7px 18px rgba(0,0,0,0.2) inset, 0 7px 18px rgba(0,0,0,0.2) inset;
	box-shadow: 0 -7px 18px rgba(0,0,0,0.2) inset, 0 7px 18px rgba(0,0,0,0.2) inset;
}

@media screen and (max-device-width: 699px) {
body {
	font-size: 0.75em;	
}
}