@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo.ttf');
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas.ttf');
}
@font-face {
    font-family: 'Lucida';
    src: url('../fonts/Lucida.ttf');
}

html,body,div,span,
object,iframe,h1,h2,h3,h4,
h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,
cite,code,del,dfn,em,img,
ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,
ol,ul,li,fieldset,form,
label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details
,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font: 1em 'Museo', sans-serif;
}

div {
	display: block;
}
/*Page wrapping content*/
#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*Header*/
header {
	z-index: 950;
	color: #000000;
	position: fixed;
	min-height: 100px;
	height: 100px;
	background: #FFFFFF;
	width: 100%;
	-webkit-box-shadow: 0 7px 18px rgba(0,0,0,0.2);
	box-shadow: 0 7px 18px rgba(0,0,0,0.2);
}

header #logo {
	margin-left: 17.5%;
	margin-right: 65%;
	vertical-align: middle;
}

header #logo img {
	float: left;
	margin-top: 2.5%;
}

header #logo h1 {
	position: relative;
	font-size: 0.95em;
	top: 30px;
	left: 15px;
}
/*Menu within header*/
#menu {
	position: relative;
	top: 40px;
	font-size: 1.2em;
	margin-right: 15%;
	text-align: right;
}
.menu {
	display: inline;
	padding: 0 10px 0;
}

.menu a {
	-webkit-transition: color 0.35s ease-out;
	-moz-transition: color 0.35s ease-out;
	transition: color 0.35s ease-out;
	color: #000;
	text-decoration: none;
}

.menu a:hover {
	color: #009BCD;
}

.menu a:active {
	color: #0086B2;
}
/*Multiple classes for each section's content*/

#teampics {
	text-align: center;
}

#teampics .person {
	-webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;
	display: inline-block;
	-webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.75);
	box-shadow: inset 1px 1px 10px rgba(0,0,0,0.75);
	margin: 0 0.5%;
	height: 200px;
	width: 200px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	border-radius: 15px;
	overflow: hidden;
}

#teampics .person:hover {
	box-shadow: inset 1px 1px 12px 1px rgba(0,0,0,0.85);
}

#teampics .person p {
	-webkit-transition: opacity 0.35s ease-out, background 0.35s ease-out;
	-moz-transition: opacity 0.35s ease-out, background 0.35s ease-out;
	-o-transition: opacity 0.35s ease-out, background 0.35s ease-out;
	-ms-transition: opacity 0.35s ease-out, background 0.35s ease-out;
	transition: opacity 0.35s ease-out, background 0.35s ease-out;
	position: relative;
	background: rgba(255,255,255,0.45);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	padding: 1.5%;
	color: #393939;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.25);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.75);
	font-size: 1.65em;
}

#teampics .person:hover p {
	opacity: 1;
}

#teampics #scott {
	background: url('../images/ScottPic.jpg') no-repeat;
	background-size: cover;
}

#teampics #connor {
	background: url('../images/ConnorPic.jpg') no-repeat;
	background-size: cover;
}

#teampics #derek {
	background: url('../images/DerekPic.jpg') no-repeat;
	background-size: cover;
}
/*Portfolio Section*/

#portfolio-content p {
	letter-spacing: 0.0005em;
	font-family: 'Lucida';
	font-size: 1.5em;
	text-align: center;
}

/*Contact Section*/


/*Stock Css for each section*/

#about-content p {
	letter-spacing: 0.0005em;
	font-family: 'Lucida';
	font-size: 2.75em;
	line-height: 1.25em;
	text-align: center;	
	padding: 2%;
}

.all-content {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 100%;
	clear: both;
	height: 440px;
}

.all-content span {
	font-size: 2em;
}

#intro-container {
	margin-top: 100px;
	background: url('../images/sky.jpg') no-repeat;
	background-position: bottom left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
#intro-content {
	font-size: 1.8em;
	width: 930px;
	margin: 0 auto;
	padding-top: 60px;
	font-family: 'Bebas';
	text-align: left;
	color: #FFFFFF;
}
#main-container {
	background: #FFFFFF;
}
#about-container {
	height: 440px;
}
#about-content {
	width: 930px;
	margin: 0 auto;
	color: #696969;
	border-bottom: solid 1px #8c8c8c;
	padding-bottom: 40px;
}
#about-container {
	height: 500px;
}
#about-content {
	padding-top: 15px;
	color: #696969;
	width: 930px;
	margin: 0 auto;
	border-bottom: solid 1px #8c8c8c;
	margin-bottom: 30px;
}
#about-graphic {
	margin-top: 20px;
	width: 100%;
}
/* The styleing for gradient (drop shadow) */
@media screen and (max-device-width: 699px) {
body {
	font-size: 0.75em;	
}
}