@font-face {
    font-family: 'Monda';
    src: url('../fonts/Monda.ttf');
    font-weight: 400;
}

html,body,div,span,
object,iframe,h1,h2,h3,h4,
h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,
cite,code,del,dfn,em,img,
ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,
ol,ul,li,fieldset,form,
label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details
,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
}

p {
	text-align: center;
	font: 1em 'Monda', sans-serif;
}

body {
	font: 1em 'Monda', sans-serif;
	background: url('../images/back-2.png') no-repeat;
	background-size: cover;
}

div {
	display: block;
}
/*Page wrapping content*/
#wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*Header*/
header {
	z-index: 950;
	color: #000000;
	position: fixed;
	min-height: 100px;
	height: 100px;
	background: #FFFFFF;
	width: 100%;
	-webkit-box-shadow: 0 7px 18px rgba(0,0,0,0.2);
	box-shadow: 0 7px 18px rgba(0,0,0,0.2);
}

header #logo {
	margin-left: 17.5%;
	margin-right: 65%;
	vertical-align: middle;
}

header #logo img {
	float: left;
	margin-top: 2.5%;
}

header #logo h1 {
	position: relative;
	font-size: 0.95em;
	top: 30px;
	left: 15px;
}
/*Menu within header*/
#menu {
	position: relative;
	top: 40px;
	font-size: 1.2em;
	margin-right: 15%;
	text-align: right;
}
.menu {
	display: inline;
	padding: 0 10px 0;
}

.menu a {
	-webkit-transition: color 0.35s ease-out;
	-moz-transition: color 0.35s ease-out;
	transition: color 0.35s ease-out;
	color: #000;
	text-decoration: none;
}

.menu a:hover {
	color: #009BCD;
}

.menu a:active {
	color: #0086B2;
}

#content-wrap {
	margin: 25% auto 0;
	font-size: 2.2em;
	color: #fff;
	width: 85%;
	text-align: center;
}

@media screen and (max-device-width: 699px) {
body {
	font-size: 1.75em;	
}
}